body {
  width: 100%;
  min-height: 100vh;
  background: white;
}

header {
  height: 60px;
  width: 100%;
  background: #222121;
  color: #fff;
  display: flex;
  text-align: center;
}
.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.nav-list {
  display: none;
}

nav ul li {
  list-style: none;
  display: inline;
  margin-right: 20px;
  cursor: pointer;
  color: #fff;
}
.logo {
  font-size: 24px;
}
.hero {
  width: 100%;
  background: url(images/food.jpg);
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 140px 0;
  margin-bottom: 20px;
}

.hero h2 {
  font-size: 36px;
  margin-bottom: 10px;
}
.hero p {
  font-size: 20px;
  margin-bottom: 10px;
}
.search-box {
  max-width: 550px;
  margin: 15px auto;
  text-align: center;
  justify-content: center;
}
.search-box input {
  width: 70%;
  padding: 10px;
  outline: none;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  border: 1px solid rgb(150, 69, 225);
}
.search-box button {
  padding: 10px 20px;
  outline: none;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  background: rgb(150, 69, 225);
  color: #fff;
  cursor: pointer;
}

.search-box button:hover {
  background-color: #ab67ea;
}

.recipes {
  padding: 50px 0;
  text-align: center;
}
.recipes h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
}
.recipe-section {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 10px;
}
.recipe-card {
  background: #fff;
  margin: 30px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.recipe-card h2 {
  font-size: 22px;
  padding: 20px;
}
.recipe-card p {
  font-size: 22px;
  padding: 20px;
}
.recipe-card a {
  display: block;
  text-align: center;
  text-decoration: none;
  background: blueviolet;
  color: #fff;
  padding: 15px 0;
  cursor: pointer;
}

.menu-icon {
  font-size: 24px;
  padding: 20px;
  text-align: right;
  cursor: pointer;
  display: block;
}

.details h2 {
  text-align: center;
}
.details p {
  text-align: center;
  font-size: 20px;
  background: rgb(178, 117, 235);
  color: #fff;
  margin: 5px auto;
  padding: 25px;
  border-radius: 20px;
  border-width: 20%;
}
.div .fa-phone {
  text-align: center;
}
footer {
  text-align: center;
}

/*Main Section */

.recipe {
  background-color: #fff;
  display: inline-flex;
  flex-direction: column;
  margin: 30px 10px;
  margin-top: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 40px;
  width: 90%;
  color: #222121;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(78, 73, 73, 0.1),
    -5px 5px 10px rgba(34, 34, 34, 0.5);
  cursor: pointer;
  max-width: 350px;
  transition: transform 0.3 ease-in-out;
}
.recipe:hover {
  transform: scale(1.02);
}

.recipe img {
  height: 300px;
  width: 100%;
}

.recipe h3 {
  font-size: 20px;
  margin-block: 5px;
}
.recipe p {
  color: #4a4a4a;
  font-size: 20px;
  margin: 5px 0;
}

.recipe span {
  font-weight: 500;
}

.recipe button {
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 18px auto;
  background-color: blueviolet;
  color: #fff;
}
.recipe button:hover {
  background-color: #ab67ea;
}

/* Recipe Details */
.recipe-details {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 12px;
  width: 40%;
  height: 60%;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
  overflow-y: scroll;
}
.recipe-details-content {
  padding: 30px;
}

.recipeName {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}

.ingredientsList li {
  margin-bottom: 10px;
  margin-left: -20px;
}
.recipeInstructions p {
  line-height: 30px;
  white-space: pre-line;
}
.recipeName,
.ingredientsList,
.recipeInstructions {
  margin-bottom: 20px;
}
.recipe-close-btn {
  border: none;
  font-size: 18px;
  padding: 10px;
  border-radius: 4px;
  background-color: #fff;
  color: #222121;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Adding scrollbar */
.recipe-details::-webkit-scrollbar {
  width: 10px;
}
.recipe-details::-webkit-scrollbar-thumb {
  background: #b5b5ba;
  border: 16px;
  --webkit-border-radius: 16px;
}

/* Responsive Code */
@media only screen and (min-width: 768px) {
  .menu-icon {
    display: none;
  }
  .nav-list {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .hero h2 {
    font-size: 28px;
  }
  .hero p {
    font-size: 15px;
  }
}
